.Danger{
	color: #F56C6C;
}

.Success{
	color:#67C23A;
}
.Blue{
	color:#409EFF;
}
.Info{
	color:#909399;
}
.ColorDanger{
	color: #F56C6C;
}
.ColorInfo{
	color:#909399;
}
.ColorMain{
	color:#303133
}
.ColorCommon{
	color:#606266;
}
.tip{
	color: #303133;
}
.center{
	text-align: center;
}
.alignRight{
	text-align: right;
}
.float{
		float: left;
	}
.font24{
		font-size:24px;
	}
	.font22{
		font-size:22px;
	}
	.font20{
		font-size:20px;
	}
	.font18{
		font-size:18px;
	}
	.font16{
		font-size:16px;
	}
	.margin20{
		margin: 20px;
	}
	.marginTop{
		margin-top: 20px;
	}
	.marginBottom{
		margin-bottom: 20px;
	}
	.marginTop10{
		margin-top: 10px;
	}
	.marginLeft{
		margin-left: 20px;
	}
	.padding5{
		padding: 5px;
	}
	.font-bold{
		font-weight:bold;
	}
	
	/* 遮罩层 */
	.box{
	        width: 100%;
	        height: 100%;
	        background-color:#000000;
			opacity:0.4;
	        position: absolute;
	        top: 0;
	        left: 0;
	    }
	/* 遮罩层里的内容 */
	.boxCenter{
		position: absolute;
		top: 0;
		left: 0;
		width:60%;
		margin-left: 20%;
		margin-top: 10%;
		background-color: #FFFFFF;
		opacity: 1;
		border-radius: 20px;
		z-index: 999;
	}